<ion-header>
  <ion-toolbar>
    <ion-title align="center"> CAMERA - AV </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of photos">
    <img alt="Silhouette of mountains" [src]="item.image" />
    <ion-card-header>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> {{item.caption}} </ion-card-content>
  </ion-card>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="takePicture()"
  >
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
